[submodule "server"]
	path = server
	url = https://github.com/Konstanius/ff_alarm_server
[submodule "app"]
	path = app
	url = https://github.com/Konstanius/ff_alarm
[submodule "fcm_service"]
	path = fcm_service
	url = https://github.com/Konstanius/ff_alarm_fcm_service
[submodule "ff_alarm_panel"]
	path = panel
	url = https://github.com/Konstanius/ff_alarm_panel
[submodule "monitor"]
	path = monitor
	url = https://github.com/Konstanius/ff_alarm_monitor
